<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spellingsounds"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <meta-data
        android:name="AA_DB_NAME"
        android:value="spelling" />
    <meta-data
        android:name="AA_DB_VERSION"
        android:value="1" />
    <meta-data
        android:name="AA_MODELS"
        android:value="
    	com.example.spellingsounds.persistence.ColorChart, 
    	com.example.spellingsounds.persistence.ColorChartSounds,
    	com.example.spellingsounds.persistence.Lesson,
    	com.example.spellingsounds.persistence.Level,
    	com.example.spellingsounds.persistence.Picture,
    	com.example.spellingsounds.persistence.Word" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.spellingsounds.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.spellingsounds.activity.ColorChartActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_color_chart"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.example.spellingsounds.activity.ColorChartDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_color_chart_detail"
            android:theme="@style/FullscreenTheme" >
        </activity>
    </application>

</manifest>
